language: php
sudo: false

php:
  - 7.2
  - 7.3
  - 7.4snapshot
  - nightly

matrix:
  allow_failures:
    - php: 7.4snapshot
    - php: nightly

install:
  - travis_retry composer install --no-interaction --prefer-source

script:
  - bin/php-cs-fixer fix --dry-run
  - bin/phpunit

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.xml